.collection {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 3rem;
    transition: transform 400ms;
}

.collection-item {
    background-size: cover;
    height: 30rem;
    margin: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    &.photography {
        background-image: url("../img/photography/1.jpg");
    }

    &.video {
        background-image: url("../img/photography/2.jpg");
    }

    &.software {
        background-image: url("../img/photography/3.jpg");
    }

    &:hover {
        text-decoration: none;

        h2 {
            width: 100%;
            height: 100%;
            font-size: 1.7em;
        }
    }

    h2 {
        color: white;
        background: rgba(178, 12, 53, 0.8);
        font-weight: 700;
        height: 5rem;
        width: 15rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 800ms, height 800ms, font-size 400ms;
    }
}
