@import "bootstrap/bootstrap-reboot";
@import "type.scss";
@import "nav.scss";
@import "collection.scss";
@import "photography.scss";
@import "gallery.scss";

body {
    overflow-x: hidden;
    background: #fafafa;
}

.hide {
    display: none !important;
}

.hidden {
    transform: scale(0);
    transition: transform 400ms;
}

.container {
    &.stackable {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}

section {
    position: absolute;
    top: 0;
    margin-top: 6rem;
}
