@import "bootstrap/bootstrap-reboot";
@import "type.scss";
@import "nav.scss";
@import "collection.scss";
@import "gallery.scss";

body {
    overflow-x: hidden;
    background: #fafafa;
}

.hide {
    display: none !important;
}

.container {
    &.stackable {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}
