<div class="container stackable">
    <div class="navbar-background">
        <div class="fill"></div>
    </div>
</div>
<div class="container stackable">
    <div class="navbar-container">
        <div class="navbar">
            <a class="navbar-home" href="#">HR</a>
            <div class="navbar-body">
                <h1>Hörður Ragnarson</h1>
                <h5>Photographer / Video Producer / Software Developer / UX Researcher / UI Designer</h5>
                <p class="navbar-tagline-mobile">
                    I enjoy creating things. Anything from taking photographs, to producing videos, building software and more.
                </p>
                <a class="btn btn-outline navbar-collection" href="#collection">See my work</a>
            </div>
            <a class="navbar-menu-toggle" href="#menu"><span class="material-icons">menu</span></a>
        </div>
        <img alt="Hörður Ragnarsson" src="img/profile-home.jpg"/>
    </div>
</div>
