<div class="container stackable">
    <div class="navbar-background">
        <div class="fill"></div>
    </div>
</div>
<div class="container stackable">
    <div class="navbar-container">
        <div class="navbar">
            <a class="navbar-home" href="#mobile-home">HR</a>
            <div class="navbar-body">
                <a class="navbar-home-large" href="#">
                    <h1>Hörður Ragnarson</h1>
                    <h5>Photographer / Video Producer / Software Developer / UX Researcher / UI Designer</h5>
                </a>
                <p class="navbar-tagline-mobile">
                    I create things. Anything from building software, to taking photographs and producing videos - I'll do it.
                </p>
                <a class="btn btn-outline navbar-collection" href="#mobile-home">See my work</a>
            </div>
            <a class="navbar-menu-toggle" href="#menu"><span class="material-icons">menu</span></a>
        </div>
        <img alt="Hörður Ragnarsson" src="img/profile-home.jpg"/>
    </div>
</div>
