<!-- <h1>Products</h1> -->
<div class="gallery">
    <img alt="gallery-image" src="img/photography/1.jpg"/>
    <img alt="gallery-image" src="img/photography/2.jpg"/>
    <img alt="gallery-image" src="img/photography/3.jpg"/>
    <img alt="gallery-image" src="img/photography/4.jpg"/>
    <img alt="gallery-image" src="img/photography/5.jpg"/>
    <img alt="gallery-image" src="img/photography/6.jpg"/>
    <img alt="gallery-image" src="img/photography/7.jpg"/>
    <img alt="gallery-image" src="img/photography/8.jpg"/>
    <img alt="gallery-image" src="img/photography/9.jpg"/>
    <img alt="gallery-image" src="img/photography/10.jpg"/>
    <img alt="gallery-image" src="img/photography/11.jpg"/>
    <img alt="gallery-image" src="img/photography/12.jpg"/>
    <img alt="gallery-image" src="img/photography/13.jpg"/>
    <img alt="gallery-image" src="img/photography/14.jpg"/>
    <img alt="gallery-image" src="img/photography/15.jpg"/>
    <img alt="gallery-image" src="img/photography/16.jpg"/>
    <img alt="gallery-image" src="img/photography/17.jpg"/>
    <img alt="gallery-image" src="img/photography/18.jpg"/>
    <img alt="gallery-image" src="img/photography/19.jpg"/>
    <img alt="gallery-image" src="img/photography/20.jpg"/>
    <img alt="gallery-image" src="img/photography/21.jpg"/>
    <img alt="gallery-image" src="img/photography/22.jpg"/>
    <img alt="gallery-image" src="img/photography/23.jpg"/>
    <img alt="gallery-image" src="img/photography/24.jpg"/>
    <img alt="gallery-image" src="img/photography/25.jpg"/>
    <img alt="gallery-image" src="img/photography/26.jpg"/>
    <img alt="gallery-image" src="img/photography/27.jpg"/>
    <img alt="gallery-image" src="img/photography/28.jpg"/>
</div>
<div class="fullscreen">
    <img alt="gallery-image" src="img/photography/1.jpg">
    <img alt="gallery-image" src="img/photography/2.jpg"/>
    <img alt="gallery-image" src="img/photography/3.jpg"/>
    <img alt="gallery-image" src="img/photography/4.jpg"/>
    <img alt="gallery-image" src="img/photography/5.jpg"/>
    <img alt="gallery-image" src="img/photography/6.jpg"/>
    <img alt="gallery-image" src="img/photography/7.jpg"/>
    <img alt="gallery-image" src="img/photography/8.jpg"/>
    <img alt="gallery-image" src="img/photography/9.jpg"/>
    <img alt="gallery-image" src="img/photography/10.jpg"/>
    <img alt="gallery-image" src="img/photography/11.jpg"/>
    <img alt="gallery-image" src="img/photography/12.jpg"/>
    <img alt="gallery-image" src="img/photography/13.jpg"/>
    <img alt="gallery-image" src="img/photography/14.jpg"/>
    <img alt="gallery-image" src="img/photography/15.jpg"/>
    <img alt="gallery-image" src="img/photography/16.jpg"/>
    <img alt="gallery-image" src="img/photography/17.jpg"/>
    <img alt="gallery-image" src="img/photography/18.jpg"/>
    <img alt="gallery-image" src="img/photography/19.jpg"/>
    <img alt="gallery-image" src="img/photography/20.jpg"/>
    <img alt="gallery-image" src="img/photography/21.jpg"/>
    <img alt="gallery-image" src="img/photography/22.jpg"/>
    <img alt="gallery-image" src="img/photography/23.jpg"/>
    <img alt="gallery-image" src="img/photography/24.jpg"/>
    <img alt="gallery-image" src="img/photography/25.jpg"/>
    <img alt="gallery-image" src="img/photography/26.jpg"/>
    <img alt="gallery-image" src="img/photography/27.jpg"/>
    <img alt="gallery-image" src="img/photography/28.jpg"/>
    <div class="controls">
        <div class="before material-icons">navigate_before</div>
        <div class="next material-icons">navigate_next</div>
        <div class="close material-icons">close</div>
    </div>
</div>
