<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %} {{ page.title }} - {% endif %}Hörður Ragnarsson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
    <meta name="description" content="Hörður Ragnarsson">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i|Titillium+Web:200" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% include icons.html %}
    {% include google-analyctics.html %}
</head>
<body>
    <nav role="navigation">{% include nav.html %}</nav>
    {{ content }}
    <section class="hide">{% include photography-commercial.html %}</section>
    <footer role="contentinfo">{% include footer.html %}</footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>if (!window.jQuery) {document.write('<script src="js/jquery.min.js"><\/script>');}</script>
    <script src="/js/script.js"></script>
</body>
</html>
